body {
  font-family: 'Muli';
  font-size:18px;
  background-color:#fafafa;
}

#page-wrapper {
  padding:7%;
}

h1 {
  font-family: Stint Ultra Expanded;
  font-size: 50px;
  line-height:0px;
}

h2 {
  font-family: Ultra;
  font-size: 80px;
  line-height:60px;
}

.page{
  min-width:200px;
  margin:0 auto;
  border:1px solid;
  padding:4%;
}

.left {
  text-align:right;
  vertical-align:top;
}

.right {
  border-left:1px solid black;
}

.pagenav {
  text-align:center;
}

.btn {
  display:inline-block;
  border:1px solid black;
  padding:10px;
  width: 110px;
  font-size:20px;
  margin-top:30px;
}

.btn:hover {
  cursor:pointer;
  font-weight:bold;
}

#page1 {
  background-color:#CEDCB4;
}
#page1 .btn {
  background-color:#A7B983;
}
#page1 .btn:hover {
  background-color:#ECF3DE;
}

#page2 {
  background-color:#7E8D98;
}
#page2 .btn {
  background-color:#5D7282;
}
#page2 .btn:hover {
  background-color:#A9B1B8;
}

#page3 {
  background-color:#95829D;
}
#page3 .btn {
  background-color:#7A6086;
}
#page3 .btn:hover {
  background-color:#B8ACBC;
}